<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../static/bootstrap5/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap5/css/detail.css">
</head>

<body>
    <header>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn" onclick="changeTheme('light')">Light</button>
            <button type="button" class="btn" onclick="changeTheme('dark')">Dark</button>
        </div>
    </header>
    <main>
        <div class="left">
            <div class="title">Title</div>
            <div class="titlestat">
                <div class="views">views</div>
                <div class="time">time</div>
            </div>
            <div class="video border border-1 border border-dark">
                <video src=""></video>
            </div>
            <div class="stat">
                <div class="like">like</div>
                <div class="coin">coin</div>
                <div class="favorite">favorite</div>
                <div class="share">share</div>
            </div>
            <div class="comment">
            </div>
        </div>
        <div class="right">
            <div class="auther">123123</div>
            <div class="recommend" id="recommend">
            </div>
        </div>
    </main>
    <script type="text/javascript" src="..\static\bootstrap5\js\detail.js"></script>
    <script type="text/javascript" src="..\static\bootstrap5\js\bootstrap.min.js"></script>
</body>

</html>