<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../static/bootstrap5/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap5/css/detail.css">
</head>
<body>
    <main>
        <div class="left">
        <div class="title">Title</div>
        <div class="video shadow p-3 mb-5 bg-body rounded">
            <video src="" ></video>
        </div>
    </div>
    <div class="right">
        <div class="auther">123123</div>
        <div class="recommend">
        </div>
    </div>
    </main>
</body>
</html>