<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="charset" content="utf-8" />
        <title>劈里啪啦</title>
        <link rel="stylesheet" href="index.css" />
        <link rel="stylesheet" href="./bootstrap.css" />
    </head>
    <body>
        <header id="header">
            <p>劈里啪啦</p>
        </header>
        <div id="content"></div>
        <script type="text/javascript" src="./index.js"></script>
        <script type="text/javascript" src="./bootstrap.min.js"></script>
    </body>
</html>